html {
  background-color: #262223;
  color: #ddd;
  line-height: 1.5;
  font-family: sans-serif;
}

p {
  text-align: justify;
}

h1, .trait { 
  font-variant-caps: small-caps;
}

/* Apparently, chromium sets these by default? */
h1, h2, h3 {
  margin-block-end: 0;
}
* {
  margin-block-start: 0;
}

#content {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  text-align: center;
  font-size: 130%;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
}

.header > span > a > div {
  padding: 0.5em;
}

.header > span > a {
  text-decoration: none;
}

.header > span {
  flex-grow: 1;
}

.header > span :hover {
  background-color: #131111;
  transition-duration: 200ms;
}

.traits {
  margin-bottom: 0.5em;
}

.trait {
  border: 0.2rem solid #d8c384;
  background: #5d0000;
  color: white;
  padding: 0.15rem 0.5rem 0.1rem 0.5rem;
  margin-right: -0.5em;
  font-weight: 700;
}

.trait .trait-size {
  background-color: #3b7b59;
}

.trait .trait-alignment {
  background-color: #576293;
}

.type {
  float: right;
}

.rarity-common {
  display: none;
}

.rarity-rare {
  background-color: #002664;
}

.rarity-uncommon {
  background-color: #98513d;
}

.rarity-unique {
  background-color: #45166e;
}

a {
  color: #edad2f;
}

/* foundry stuff */
a.inline-roll {
  color: inherit;
}
[data-formula="1d20"], .fas {
  display: none;
}

.actionimage {
  vertical-align: middle;
  height: 0.8em;
}

#gridlist {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

#gridlist > span {
  min-width: 25em;
  max-width: 20%;
  overflow: hidden;
  padding: 0.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#gridlist a {
  text-decoration: none;
}

#gridlist a:hover {
  text-decoration: underline;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}
