<h1>{{ name }}{{action_type.img(actions)}}<span class="type">Feat {{ level }}</span></h1>
<hr/>
<div class="traits">
{% match rarity %}
  {% when Some with (val) %}
    <span class="trait rarity-{{ val.0|lower }}">{{ val.0 }}</span>
  {% else %}
{% endmatch %}
{% for traitor in traits.clone() %}
  <span class="trait">{{ traitor.name }}</span>
{% endfor %}
</div>
{% if !prerequisites.is_empty() %}<b>Prerequisites</b> {% for p in prerequisites %}{{p}}{% if !loop.last %}, {% endif %}{% endfor %}{% endif %}
{{ description }}
<hr>
<h2>Traits</h2>
<div>
  {% match rarity %}{% when Some with (val) %}
  <div class="trait-legend">
        <b>{{ val.0 }}</b>
        <p>{{ val.1 }}</p>
      </div>
  {% else %}{% endmatch %}
  {% for traitor in traits %}
  <div class="trait-legend">
    <b>{{ traitor.name }}</b>
    {% if loop.last %}<p style="border-bottom: none;">{{ traitor.description }}</p>
    {% else %}<p>{{ traitor.description }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
