<h1>{{ name }}<span class="type">{{ category }} {{ level }}</span></h1>
<hr/>
<div class="traits">
{% match rarity %}
{% when Some with (val) %}
<span class="trait rarity-{{ val.0|lower }}">{{ val.0 }}</span>
{% else %}
{% endmatch %}
{% for traitor in traits.clone() %}
<span class="trait">{{ traitor.name }}</span>
{% endfor %}
</div>

{% if !traditions.is_empty() %}
  <b>Traditions</b> {% for tradition in traditions %}{% if loop.last %}{{tradition}}{% else %}{{tradition}}, {% endif %}{% endfor %}</br>
{% endif %}

<b>Cast</b> {{time}}<br>
{% if !cost.is_empty() %}<b>Cost</b> {{cost}}</br>{% endif %}
{% if !secondary_casters.is_empty() %}<b>Secondary Casters</b> {{secondary_casters}}</br>{% endif %}

{% if !primary_check.is_empty() %}
<b>Primary Check</b> {{primary_check}}</br>
{% endif %}
{% if !secondary_check.is_empty() %}
<b>Secondary Checks</b> {{secondary_check}}</br>
{% endif %}

{% match area_string %}
  {% when Some with (val) %}
    <b>Area</b> {{val}}</br>
  {% else %}
    {% match area %}
      {% when Area::None %}
      {% else %}{{area}}</br>
    {% endmatch %}
{% endmatch %}
{% if !range.is_empty() %}<b>Range</b> {{range}}</br>{% endif %}
{% if !target.is_empty() %}<b>Target</b> {{target}}</br>{% endif %}

{% if !duration.is_empty() %}
<b>Duration</b> {{duration}}</br>
{% endif %}

{% match save %}
  {% when Some with (val) %}
  <b>Saving Throw</b> {% if basic_save %}basic {% endif %}{{val}}</br>
  {% else %}
{% endmatch %}
<hr>
{{ description }}
<hr>
<h2>Traits</h2>
<div>
    {% match rarity %}{% when Some with (val) %}
    <div class="trait-legend">
        <b>{{ val.0 }}</b>
        <p>{{ val.1 }}</p>
    </div>
    {% else %}{% endmatch %}
    {% for traitor in traits %}
    <div class="trait-legend">
        <b>{{ traitor.name }}</b>
        {% if loop.last %}<p style="border-bottom: none;">{{ traitor.description }}</p>
        {% else %}<p>{{ traitor.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
